<dtable 
	options="dataTableOptions" 
	rows="translations" 
	class="material" 
	on-page="paging(offset, size)"
>	
	<column name='Translation'>
		<div>
			<div class="col-md-1" align="center">
				<a class="btn btn-default"
					role="button"
					data-toggle="collapse"
					href="#collapse{{ $row.id }}"
					aria-controls="collapse{{ $row.id }}"
					aria-expanded="true"
				>
					<i class="fa fa-sort-desc"></i>
				</a>
				<a
					class="btn btn-default"
				    role="button"
					data-toggle="collapse"
					href="#info{{ $row.id }}"
					aria-controls="info{{ $row.id }}"
					aria-expanded="true"
					ng-click="loadInfos($row)"
				>
					<i class="fa fa-info-circle"></i>
				</a>
			</div>
			<div class="col-md-9">
				<input 
					type="text" 
					value="{{ $row.translations[0].translation }}"
					class="form-control"
					ng-model=$row.translations[0].translation
					ng-model-options="{ debounce: 1000 }"
				>
				</input>
			</div>
			<div class="col-md-2" align="center">
				<button
					class="btn btn-default"
					ng-click="addTranslation($cell, $row, $column)"
				>
					<i class="fa fa-edit"></i>
				</button>
				<button
					class="btn btn-default"
					ng-click="comment($row)"
				>
					<i class="fa fa-comment"></i>
				</button>
				<button class="btn btn-default" ng-click="clickUserLock($row)">
					<i ng-class="{'fa fa-check': !$row.user_lock, 'fa fa-close':$row.user_lock}"></i>
				</button>
				<button class="btn btn-default" ng-click="clickAdminLock($row)">
					<i ng-class="{'fa fa-unlock': !$row.admin_lock,'fa fa-lock':$row.admin_lock}"></i>
				</button>
			</div>
		</div>
		<div class="collapse" style="clear: left;" id="collapse{{ $row.id }}">
			{{ getPreferedTranslation($cell, $row, $column) }}
		</div>
		<div class="collapse" style="clear: left;" id="info{{ $row.id }}">
			{{ 'identifier'|trans:{id: $row.domain + $row.key}:'translator' }}
			</br>
			{{ 'translation_history'|trans:{}:'translator' }}
				<ul ng-repeat="translationInfo in translationInfos[$row.id]"> 
					<li ng-repeat="translation in translationInfo.translations">
						{{ 'translation_message'|trans:{translation: translation.translation, author: translation.author, date: translation.creation_date}:'translator' }}
					</li>
				</ul>
		</div>
	</column>
</dtable>